@model IEnumerable<Web_Site.Models.User>
@{
    Layout = null;
}

<html>
<head>
    
	<title>Стартовая страница</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href= "@Url.Content("~/CSS/style.css")" />

</head>
<body>
	<table>
		<tr class="header">
			<td><p>Фамилия</p></td>
			<td><p>Имя</p></td>
			<td><p>Отчество</p></td>
			<td><p>Телефон</p></td>
			<td><p>Почта</p></td>
			<td></td>
		</tr>
		@foreach (var b in Model)
		{
			<tr>
				<td><p>@b.Surname</p></td>
				<td><p>@b.Name</p></td>
				<td><p>@b.Patronymic</p></td>
				<td><p>@b.Phone</p></td>
				<td><p>@b.EMail</p></td>
				
			</tr>
		}
	</table>	
	 
	<form class="permit-form" action="" method="post">
		<div>
			<input type="text" name="login" placeholder="Логин" />
			<div class="icon person-img"></div>
		</div>
		<div>
			<input type="password" name="password" placeholder="Пароль" />
			<div class="icon lock-img"></div>
		</div>
		<div>
			<button type="submit">Войти</button>
		</div>
		<div>					
			@Html.ActionLink("Региcтрация", "Create", "Home", null, new { @class = "registr" })
			@Html.ActionLink("Забыли пароль?", null, null, null, new { @class = "pass-forgot" })

			@*<a class="pass-forgot" href="#">Забыли пароль?</a>*@
		</div>
	</form>    
    
</body>
</html>

