@model MVC_Project.Models.LoginModel

@{
    ViewBag.Title = "Login";
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Стартовая страница</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/loginStyle.css")" />
</head>
<body>
	@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "permit-form" }))
	{
		@Html.AntiForgeryToken()

		<div>
			<input type="text" name="Email" placeholder="Логин" />
			<div class="icon person-img"></div>
		</div>
		<div>
			<input type="password" name="Password" placeholder="Пароль" />
			<div class="icon lock-img"></div>
		</div>
		<div>
			@*<button type="button" onclick="location.href='@Url.Action("Login", "Account")'">Войти</button>*@
			<button type="submit">Войти</button>
		</div>
		<div>
			@Html.ActionLink("Региcтрация", "Register", "Account", null, new { @class = "registr" })
			@Html.ActionLink("Забыли пароль?", null, null, null, new { @class = "pass-forgot" })
		</div>
	}
</body>
</html>



@*@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div>
			@Html.ValidationSummary()
			<input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
			<p>
				<label>Email</label><br />
				@Html.EditorFor(x => x.Email)
			</p>
			<p>
				<label>Пароль</label><br />
				@Html.EditorFor(x => x.Password)
			</p>
			<p><button type="submit">Войти</button></p>
		</div>
	}*@



