@model MVC_Project.Models.RegisterModel
 
@{
    ViewBag.Title = "PasswordReplace";
}

<h2>Введите новый пароль</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div>
		@Html.ValidationSummary(false)
		<div>
			Электронный адрес
			<div>
				@Html.EditorFor(model => model.Email)
			</div>
		</div>
		<div>
			Новый пароль
			<div>
				@Html.EditorFor(model => model.Password)
			</div>
		</div>

		<div>
			Повторите новый пароль
			<div>
				@Html.EditorFor(model => model.PasswordConfirm)
			</div>
		</div>

		<div>
			<div>
				<input type="submit" value="Сменить пароль" />
			</div>
		</div>
	</div>
}